@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

li {
  display: inline;
  padding: 15px;
  font-size: 0.85rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#logo {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-self: center;
}

.mainContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -175px;
  /* background-color: red; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  margin: 20px 0px 20px 0px;
}

.searchbar {
  transform: translateX(-40%);
  width: 400%;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  border: 1px solid rgb(204, 204, 204);
}

.searchbar:focus {
  outline: none;
}

.searchbar:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  margin: 20px;
}

.buttons {
  margin: 0px 20px 0px 20px;
  padding: 10px;
  border: rgba(0, 0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
}

.buttons:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  max-height: 90px;
  background-color: rgb(242, 242, 242);
  font-size: 0.8rem;
}

footer a {
  color: rgb(133, 133, 133);
}

footer div {
  margin-top: 2px;
}

#footer1 {
  width: 100%;
  height: fit-content;
  margin: 15px 10px 30px 60px;
}

/*#footer2 {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 5px 0px 20px 0px;
}*/

#footer3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 70px;
}

#footer3 ul {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}
